H1 {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.fs-48 {
  font-size: 48px;
}

.fw-700 {
  font-weight: 700;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}