h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font {
  font-family: "Edu TAS Beginner", sans-serif;
}

.date {
  font-family: "Sometype Mono", monospace;
}

.fs-4rem {
  font-size: 4rem;
}

.fw-700 {
  font-weight: 700;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: url(./img/wall.png);
}

body {
  background-image: url(./img/cork.png);
}
